<div class="footer__wrap">


    <section class="project shine">
        <div class="container">
            <h2 class="animate">Проекты</h2>

            <div class="swiper-container swiper-container--project animate">
                <ul class="project__list swiper-wrapper">
                    <li class="project__item swiper-slide ">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        <a class="project__link" href=""></a>

                        <img class="project__image swiper-lazy" data-src="./img/project/project1.jpg" alt="">
                        <p class="project__desc">Разработано спинтронное логическое устройство, совмещенное с элементами трековой памяти</p>
                    </li>
                    <li class="project__item swiper-slide">
                        <a class="project__link" href=""></a>
                        <img class="project__image swiper-lazy" data-src="./img/project/project2.jpg" alt="">
                        <p class="project__desc">Разработано спинтронное логическое устройство, совмещенное с элементами трековой памяти</p>
                    </li>
                    <li class="project__item swiper-slide">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        <a class="project__link" href=""></a>
                        <img class="project__image swiper-lazy" data-src="./img/project/project3.jpg" alt="">
                        <p class="project__desc">Разработано спинтронное логическое устройство, совмещенное с элементами трековой памяти</p>
                    </li>
                    <li class="project__item swiper-slide">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        <a class="project__link" href=""></a>
                        <img class="project__image swiper-lazy" data-src="./img/project/project4.jpg" alt="">
                        <p class="project__desc">Разработано спинтронное логическое устройство, совмещенное с элементами трековой памяти</p>
                    </li>
                </ul>
                <div class="swiper-scrollbar swiper-scrollbar--project"></div>
            </div>

        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li><a href="">Оборудование</a>
                        <ul>
                            <li><a href="">Пищевая промышленность</a></li>
                            <li><a href="">Химическая промышленность</a></li>
                            <li><a href="">Горнодобывающая промышленность</a></li>
                            <li><a href="">Урановая промышленность</a></li>
                            <li><a href="">Металлургическая промышленность</a></li>
                        </ul>
                    </li>
                    <li><a href="">О компаниии</a></li>
                </ul>

                <ul class="footer__list">
                    <li><a href="">Опросные листы</a></li>
                    <li><a href="">Сервис</a>
                        <ul>
                            <li><a href="">Проектирование</a></li>
                            <li><a href="">Транспортные услуги</a></li>
                            <li><a href="">Монтаж оборудования</a></li>
                            <li><a href="">Сервисное обслуживание</a></li>
                        </ul>
                    </li>

                </ul>

                <section class="footer__contact">
                    <h3 class="contact__title">Контакты</h3>
                    <div class="contact__wrap">
                        <div>
                            <p class="contact__subtitle">Германия:</p>
                            <a href="mailvarsa-imex.de">mailvarsa-imex.de</a><br>
                            <a href="tel:+4957138638795">+49 (571) 38638795</a>
                            <a href="tel:+4957138638795">+49 (157) 81506062</a>
                        </div>
                        <div>
                            <p class="contact__subtitle">Россия:</p>
                            <a href="russiavarsa-imex.de"> russiavarsa-imex.de</a><br>
                            <a href="tel:+79652137642">+7 (965) 2137642</a>
                        </div>
                    </div>



                </section>
            </nav>

            <div class="footer__bottom">
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="">
                            <img class="social__icon" src="../img/social/linkdn.svg" alt="">
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="">
                            <img class="social__icon" src="../img/social/facebook.svg" alt="">
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="">
                            <img class="social__icon" src="../img/social/instagram.svg" alt="">
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="">
                            <img class="social__icon" src="../img/social/twitter.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__bottom-wrap">
                    <a href="">Карта сайта</a>|
                    <p>AGB Impressum Dateschutz</p>
                </div>

            </div>
            <div class="footer__copyright">
                <span>Copyrights ©</span>

                <a href="https://www.artfactor.ru/">Сделано в <b>Артфактор</b></a>
            </div>
        </div>
    </footer>

</div>


<section class="form__modal" id="modal" style="display: none;">
    <h2>Оставить заявку</h2>
    <form action="">
        <div class="form__modal-wrap">
            <input type="text" name="name" required placeholder="Имя*">
            <input type="tel" name="phone" required placeholder="Телефон*">
            <input type="email" name="email" required placeholder="Email*">
            <textarea name="text" placeholder="Комментарий"></textarea>
            <button class="button" type="submit">Оставить заявку</button>
        </div>

    </form>
</section>
<section class="thank__modal" id="thank__modal" style="display: none;">
    <svg width="150" height="150" viewBox="0 0 510 510" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path fill="#0a7383" d="M150.45,206.55l-35.7,35.7L229.5,357l255-255l-35.7-35.7L229.5,285.6L150.45,206.55z M459,255c0,112.2-91.8,204-204,204 S51,367.2,51,255S142.8,51,255,51c20.4,0,38.25,2.55,56.1,7.65l40.801-40.8C321.3,7.65,288.15,0,255,0C114.75,0,0,114.75,0,255 s114.75,255,255,255s255-114.75,255-255H459z"></path>
                </svg>
    <h2 style="margin-top: 20px;">Ваша заявка была отправлена </h2>
</section>
<script src="https://cdn.polyfill.io/v2/polyfill.js"></script>
<script src="./js/script.min.js"></script>


</body>

</html>