<div class="hero__links swiper-container">

    <div class="target"></div>
    <ul class="hero__links-list swiper-wrapper">
        <li class="hero__links-item swiper-slide">
            <!-- <a class="hero__links-permalink" href=""></a> -->
            <i class="hero__links-icon">
                    <img src="./img/icon/icon-food.png" alt="">
                </i>

            <p class="hero__links-desc">Пищевая<br>промышленность</p>
        </li>
        <li class="hero__links-item swiper-slide">
            <a class="hero__links-permalink" href=""></a>
            <i class="hero__links-icon">
                     <img src="./img/icon/icon-him.png" alt="">
                </i>
            <p class="hero__links-desc">Химическая<br>промышленность</p>
        </li>
        <li class="hero__links-item swiper-slide">
            <a class="hero__links-permalink" href=""></a>
            <i class="hero__links-icon">
                    <img src="./img/icon/icon-prom.png" alt="">
                </i>
            <p class="hero__links-desc">Горнодобывающая<br>промышленность
            </p>
        </li>

        <li class="hero__links-item swiper-slide">
            <a class="hero__links-permalink" href=""></a>
            <i class="hero__links-icon">
                    <img src="./img/icon/icon-uran.png" alt="">
                </i>
            <p class="hero__links-desc">Урановая<br>промышленность
            </p>
        </li>

        <li class="hero__links-item swiper-slide">
            <a class="hero__links-permalink" href=""></a>
            <i class="hero__links-icon">
                    <img src="./img/icon/icon-metal.png" alt="">
                </i>
            <p class="hero__links-desc">Металлургическая<br>промышленность
            </p>
        </li>
    </ul>
</div>