<ul class="pagination">
    <li class="prev disabled">
        <a href=""> <svg class="pagination__icon">
            <use xlink:href="./img/sprite.svg#icon-pagi"></use>
        </svg></a>
    </li>
    <li><a href="">1</a></li>
    <li><a class="current" href="">2</a></li>
    <li><a href="">...</a></li>
    <li><a href="">4</a></li>
    <li class="next">
        <a href=""><svg class="pagination__icon">
            <use xlink:href="./img/sprite.svg#icon-pagi"></use>
        </svg></a>
    </li>
</ul>